
<div class="container">
    <toolbar name="name" display-name="displayName" actions="ctrl.globalActions"></toolbar>
    <h2>Gallery</h2>
    <p></p>
    <div ng-show="ctrl.editMode" class="well">
        <crud-form name="name" model="model" record="currentRecord"></crud-form>
    </div>
    <div class="row">
        <div ng-repeat="record in records" class="col-md-4">
            <div class="thumbnail" >
                <a href="{{record.image}}">               
                    <img class="img-responsive" src="{{record.image}}" alt="" style="width:150px;height:150px">
                </a>
                <a id="{{$index}}-selected"><input type="checkbox"></a>
                <p><b>Name:</b> {{record.name}}</p>
                <p><b>Description:</b> {{record.description}}</p>
                <p><b>Price:</b> {{record.price}}</p>
                <button class="btn btn-default" ng-click="addToCar()">Add to Cart</button>
            </div>
        </div>
    </div>
    <br>
    <pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage" ng-change="ctrl.pageChanged()" items-per-page="ctrl.itemsPerPage" max-size="ctrl.maxSize" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
</div>
